<%-include("partials/boilerplate")-%>
<%-include("partials/header")-%>
<body>
    <div class="content">
        <%-include("partials/aboutMeHome")-%>        
        <%-include("partials/myVisionHome")-%>        
        <%-include("partials/myVisionHome")-%>        
    </div>
</body>
<%-include("partials/footer")-%>
<%-include("partials/scripts")-%>